@using Debtor.Web.Models.Transactions
@model TransactionsCreateViewModel

@{
    ViewData["Title"] = "Transaction Create";
}

<form method="post">

    @* newTransaction.AccountId = model.AccountId;
    newTransaction.TransactionType = model.TransactionType;
    newTransaction.Amount = model.Amount;
    newTransaction.Currency = model.Currency;
    newTransaction.PaymentMethod = model.PaymentMethod; *@


    @* TODO: need list of accounts *@
    <label for="accountId" class="form-label">Account ID:</label>
    <select asp-for="AccountId" class="form-select" id="accountId">
        <option selected value="placeholder">placeholder</option>
    </select>

    <label for="transactionType" class="form-label">Transation Type:</label>
    <select asp-for="TransactionType" class="form-select" id="transactionType">
        <option selected value="payment">payment</option>
        <option value="borrow">borrow</option>
    </select>

    <div class="mb-3">
        <label for="amount" class="form-label">Amount:</label>
        <input asp-for="Amount" type="number" class="form-control" id="amount" min="-9999999999999999.99" max="9999999999999999.99">
    </div>

    <div class="mb-3">
        <label for="currency" class="form-label">Currency:</label>
        <input asp-for="Currency" type="text" class="form-control" id="currency" maxlength="3">
    </div>

    <label for="paymentMethod" class="form-label">Payment Method:</label>
    <select asp-for="PaymentMethod" class="form-select" id="paymentMethod">
        <option selected value="bank">bank</option>
        <option value="cash">cash</option>
    </select>

    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-warning" type="reset">Reset</button>
</form>